<div id="main">
  <h1>Welcome to beRecruited's Leaderboards</h1>
  <p>
  <h3>Search for your favorite team here:</h3>
  <%= select_tag 'team_id', options_for_select(@teams.map{|team| ["#{team.name} #{team.nick}", team.id] }) %>
</div>

<script type="text/javascript">
  $(function(){
       $('#team_id').bind('change', function () {
          var url = "/leaderboard/" + $(this).val()
          if (url) { 
              window.location.replace(url);
          }
          return false;
      });
  });
</script>
