<div id="main">
  <h1>&lt; Insert Team Here &gt; Leaderboard</h1>
  
  <p>
  <!-- <%= @favorites %> -->
  </p>
    
  <table>
    <tr>
      <th>Name
        <tb>
          <% @leaders.each do |line| -%>
          <p><%= line['user_id']%></p>
          <% end %>
        </tb>
      </th>
      <th>This Week's Points
        <tb>
          <% @leaders.each do |line| -%>
          <p><%= line['current_points']%></p>
          <% end %>
        </tb>
      </th>
      <th>Last Week's Points
       <tb>
          <% @leaders.each do |line| -%>
          <p><%= line['last_week_points']%></p>
          <% end %>
        </tb>
      </th>
    </tr>
  </table>
</div>

